<article id="article-{{ node.nid }}" class="{{ classes }} clearfix"{{ attributes }}>

  {{ unpublished }}

  {{ title_prefix|render }}

  {% if (title) %}
    <header>
      {% if title %}
        {% if not page %}
          <h1{{ title_attributes }}>
            <a href="{{ node_url }}" rel="bookmark">{{ title }}</a>
          </h1>
        {% endif %}
      {% endif %}
    </header>
  {% endif %}
  
  {{ title_suffix|render }}

  {% if display_submitted %}
    {% if user_picture %}
      {% set user_class = ' with-user-picture' %}
    {% else %}
      {% set user_class = '' %}
    {% endif %}
  
    <footer class="submitted{{ user_class }}">
      {{ user_picture }}
      <p class="author-datetime">{{ submitted }}</p>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {# content.comments|hide #}
    {# content.links|hide #}
    {{ content|render }}
  </div>

  {% set links = content.links|render %}

  {% if links %}
    <nav class="clearfix">{{ links }}</nav>
  {% endif %}

  {{ content['comments']|render }}

  {# node|debug #}
  
  {% lipsum 40 %}

</article>
